extends layout

block content


  .contents.space
    .swiper-container
      .swiper-wrapper
        .service-info.swiper-slide
        .swiper-slide 2
        .swiper-slide 3
      .swiper-pagination

  //#kakao-logged-group
  //#kakao-profile

  script.
    var swiper = new Swiper('.swiper-container', {
        direction: 'vertical',
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
    });

    function slidePage(index) {
        swiper.slideTo(index, 300, function () {
        });
    }


