extends layout

block content
    link(rel='stylesheet', href='/stylesheets/template.css')
    style.
        .swiper-container {
            width: 100%;
            height: 100%;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }

    .vue#template
        .ground
            .ground-cell
                .template.first(v-bind:style="{'background-image' : 'url(' + skins[currentSkin].background +')'}")
                    input.title(v-model="skins[currentSkin].title.text" v-bind:style="{'font-size': skins[currentSkin].title.fontSize +'px', 'font-family' : skins[currentSkin].title.fontFamily, 'text-align' : skins[currentSkin].title.textAlign, 'top' : skins[currentSkin].title.top + 'px'}")
                    input.subtitle(v-model="skins[currentSkin].subtitle.text" v-bind:style="{'font-size': skins[currentSkin].subtitle.fontSize +'px','font-family' : skins[currentSkin].subtitle.fontFamily,  'text-align' : skins[currentSkin].subtitle.textAlign, 'top' : skins[currentSkin].subtitle.top + 'px'}")
                    .input-item.date(v-bind:style="{'font-size': skins[currentSkin].date.fontSize + 'px','font-family' : skins[currentSkin].date.fontFamily,  'text-align' : skins[currentSkin].date.textAlign, 'top' : skins[currentSkin].date.top + 'px'}") {{getCurrentDate()}}
                .template.information(v-bind:style="{'background-image' : 'url(' + model.detailBack +')'}")
                    .info-field
                        //.info-cell
                        .d-day
                            .text {{getCurrentDate()}}까지 <b> D - {{getDday()}}</b>
                        .person-info-table
                            .person-info-cell
                                .person-info
                                    .groom.head 신랑
                                    input.detail-name(type='text', placeholder="정다혜").name
                                    .bride.head 신부
                                    input.detail-name(type='text', placeholder="정다혜").name

                        .invitation-content-table
                            .invitation-content-cell
                                .invitation-content {{model.invitation}}

                .template.map(v-bind:style="{'background-image' : 'url(' + skins[currentSkin].map +')'}")
                    .map-field
                        .map-drawer
                            .map-naver#map
                        .map-content-field
                            .map-content(v-bind:style="{'color':skins[currentSkin].color}")
                                .placeName {{model.locationName}}
                                .address-group
                                    .address-cell
                                        .i.material-icons room
                                        .label 주소
                                    .address-cell
                                        .content {{model.locationAddress}}
                                .transport-group
                                    .transport-cell
                                        .i.material-icons directions_bus
                                        .label 교통편
                                    .transport-cell
                                        textarea.content(v-model="model.transport", v-bind:style="{'color':skins[currentSkin].color}")

                .template.gallery(v-bind:style="{'background-image' : 'url(' + skins[currentSkin].gallery +')'}" v-if="galleryUse === true")
                    .gallery-images.swiper-container
                        .swiper-wrapper
                        .swiper-pagination
                .template.comments(v-bind:style="{'background-image' : 'url(' + skins[currentSkin].comments +')'}" v-if="commentUse === true")


        .menu-bar
            .controller(v-if="currentDisplay === 'skin-controller'")
                .head 스킨 선택
                .skin(@click='skinChange({name : "wedding1"})') Wedding1
                    img(src='/images/thumbnail/wedding2T.png')
                .skin(@click='skinChange({name : "wedding2"})') Wedding2
                    img(src='/images/thumbnail/wedding3T.png')
                .skin(@click='skinChange({name : "baby"})') Baby
                    img(src='/images/thumbnail/babyT.png')
                .skin(@click='skinChange({name : "invitation"})') Invitation
                    img(src='/images/thumbnail/invitationT.png')

            .controller(v-if="currentDisplay === 'front-controller'")
                .head 초대장 정보
                .control-group( v-bind:class='{open:controller.frontController.title}')
                    .group-title(@click='switchController("frontController","title")')
                        .text 제목
                        .i.material-icons arrow_drop_down
                    .control-cell(v-if="controller.frontController.title")
                        .font
                            .method(@click='fontSize({ target : "title", delta : "1"})') 글씨 크기
                                .i.material-icons keyboard_arrow_up
                            .method(@click='fontSize({ target : "title", delta : "-1"})') 글씨 크기
                                .i.material-icons keyboard_arrow_down
                        .align
                            .method(@click='textAlign({ target : "title", dir : "left" })')
                                .i.material-icons format_align_left
                            .method(@click='textAlign({ target : "title", dir : "center" })')
                                .i.material-icons format_align_center
                            .method(@click='textAlign({ target : "title", dir : "right" })')
                                .i.material-icons format_align_right

                .control-group( v-bind:class='{open:controller.frontController.subtitle}')
                    .group-title(@click='switchController("frontController","subtitle")')
                        .text 부제목
                        .i.material-icons arrow_drop_down

                    .control-cell(v-if="controller.frontController.subtitle")
                        .font
                            .method(@click='fontSize({ target : "subtitle", delta : "1"})') 글씨 크기
                                .i.material-icons keyboard_arrow_up
                            .method(@click='fontSize({ target : "subtitle", delta : "-1"})') 글씨 크기
                                .i.material-icons keyboard_arrow_down
                        .align
                            .method(@click='textAlign({ target : "subtitle", dir : "left" })')
                                .i.material-icons format_align_left
                            .method(@click='textAlign({ target : "subtitle", dir : "center" })')
                                .i.material-icons format_align_center
                            .method(@click='textAlign({ target : "subtitle", dir : "right" })')
                                .i.material-icons format_align_right

                .control-group( v-bind:class='{open:controller.frontController.date}')
                    .group-title(@click='switchController("frontController","date")')
                        .text 날짜
                        .i.material-icons arrow_drop_down
                    .control-cell(v-if="controller.frontController.date")
                        .font
                            .method(@click='fontSize({ target : "date", delta : "1"})') 글씨 크기
                                .i.material-icons keyboard_arrow_up
                            .method(@click='fontSize({ target : "date", delta : "-1"})') 글씨 크기
                                .i.material-icons keyboard_arrow_down
                        .align
                            .method(@click='textAlign({ target : "date", dir : "left" })')
                                .i.material-icons format_align_left
                            .method(@click='textAlign({ target : "date", dir : "center" })')
                                .i.material-icons format_align_center
                            .method(@click='textAlign({ target : "date", dir : "right" })')
                                .i.material-icons format_align_right
                        .day-inputs
                            input(type='date', @change="dateChange()", v-model='model.date')
                            input(type='time', @change="dateChange()", v-model='model.time')
                            //input(type='text' v-model='date.year')
                            //input(type='text' v-model='date.month'))
                            //input(type='text' v-model='date.day'))
                .info ※ 원하는 부분을 선택해 내용을 수정하세요.

            .controller(v-if="currentDisplay === 'detail-controller'")
                .head 세부 정보
                .item
                    .text 초대글
                    textarea(type='text', v-model="model.invitation")
                .item
                    .text 장소명
                    input(type='text', v-model="model.locationName")
                .item
                    .text 주소
                    input.small(type='text' v-model='model.locationAddress')
                    .i.material-icons(@click="searchLocation") search

                .button(@click='updateDetailBackImg')
                    .i.material-icons file_upload
                input(type='file' style='display:none')#backgroundUploader

            .controller(v-if="currentDisplay === 'gallery-controller'")
                .head 갤러리
                .control-group
                    .toggle-group
                        .text 갤러리 사용 여부
                        .toggle(v-bind:class="{on : galleryUse}", @click="galleryUseCheck()")
                            .switch
                .control-cell.gallery(v-if="galleryUse")
                    .button(@click='fileUpload')
                        .i.material-icons file_upload
                    input(type='file' style='display:none')#imageUploader
                    .image-group
                        template(v-for='(image, idx) in gallery.files')
                            .image-item
                                .name {{image.name}}
                                .image(v-bind:style="{'background-image' : 'url(' + image.data +')'}")
                                .delete.i.material-icons(@click='removeImage(idx)') close

            .controller(v-if="currentDisplay === 'share-controller'")
                .head 방명록
                .control-group
                    .toggle-group
                        .text 방명록 사용 여부
                        .toggle(v-bind:class="{on : commentUse}", @click="commentUseCheck()")
                            .switch
                .info(v-if="commentUse==true") ※ 왼쪽은 예시입니다.

        .functions-group
            template(v-for='func in functions')
                .tab-bar(v-bind:class="{selected : func.selected}",
                @click="tabClick(func)") {{func.name}}


    script(src='/template.js')